<section class="section-projects" id="section-projects">
            <ul class="projects-showcase clearfix">
                <li>
                    <figure class="project-photo">
                        <img src="resources/img/project1.jpg" alt="First Project">
                    </figure>
                </li>
                <li>
                    <figure class="project-photo">
                        <img src="resources/img/project2.png" alt="Second Project">
                    </figure>
                </li>
                <li>
                    <figure class="project-photo">
                        <img src="resources/img/project3.jpg" alt="Third Project">
                    </figure>
                </li>
                <li>
                    <figure class="project-photo">
                        <img src="resources/img/project4.jpg" alt="Fourth Project">
                    </figure>
                </li>
            </ul> 
            <ul class="projects-showcase clearfix">
                <li>
                    <figure class="project-photo">
                        <img src="resources/img/project5.jpg" alt="Fifth Project">
                    </figure>
                </li>
                <li>
                    <figure class="project-photo">
                        <img src="resources/img/project8.jpg" alt="Sixth Project">
                    </figure>
                </li>
                <li>
                    <figure class="project-photo">
                        <img src="resources/img/project6.jpg" alt="Seventh Project">
                    </figure>
                </li>
                <li>
                    <figure class="project-photo">
                        <img src="resources/img/project7.jpg" alt="Last Project">
                    </figure>
                </li>
            </ul>  
        
        </section>