<section class="section-projects" id="section-projects">
            <ul class="projects-showcase clearfix">
                <li ng-repeat="img in parts.firstPart">
                    <figure class="project-photo">
                        <img src="{{img}}" alt="{{img}}">
                    </figure>
                </li>
            </ul> 
            <ul class="projects-showcase clearfix">
                <li ng-repeat="img in parts.secondPart">
                    <figure class="project-photo">
                        <img src="{{img}}" alt="{{img}}">
                    </figure>
                </li>
            </ul>  
        
        </section>