        <section class="section-app" id="section-app">
            <div class="row">
                <h2>Our App &mdash; Try it</h2>                
            </div>
            <div class="row">
                <div class="col span-1-of-2 app-box">
                    <img src="resources/img/iphone.png" alt="Download our app" class="app-screen">
                </div>
                <div class="col span-1-of-2 app-box">
                    <div class="app-includes">
                        <div class="circle">1</div>
                        <p>Browse All Of Our Projects</p>
                    </div>
                    <div class="app-includes">
                        <div  class="circle">2</div>
                        <p>Start your project</p>
                    </div>
                    <div class="app-includes">
                        <div  class="circle">3</div>
                        <p>Contact us anytime</p>
                    </div>
                    <a href="#" class="btn-app"><img src="resources/img/download-app.svg" alt="App Store Button"></a>
                    <a href="#" class="btn-app"><img src="resources/img/download-app-android.png" alt="Play Store Button"></a>
                </div>
            </div>
            
        
        </section>