        <section class="section-customers">
            <div class="row">
                <h2>Our Customers are our success</h2>
            </div>
            <div class="row">
                <div class="col span-1-of-3 customer-opinion">
                    <blockquote>
                        This office is just awesome, they handle my request so fast and clever, they give me the max value , it took only few days to start processing my request, and i had really great result.
                        <cite><img src="resources/img/customer-1.jpg" class="cust-img">Alberto Duncan</cite>
                    </blockquote>                
                </div>
                <div class="col span-1-of-3 customer-opinion">
                    <blockquote>
                        This office is just awesome, they handle my request so fast and clever, they give me the max value , it took only few days to start processing my request, and i had really great result.
                        <cite><img src="resources/img/customer-2.jpg" class="cust-img">Joana Silva</cite>
                    </blockquote>                
                </div>
                 <div class="col span-1-of-3 customer-opinion">
                    <blockquote>
                        This office is just awesome, they handle my request so fast and clever, they give me the max value , it took only few days to start processing my request, and i had really great result.
                        <cite><img src="resources/img/customer-3.jpg" class="cust-img">Milton Chapman</cite>
                    </blockquote>                
                </div>
                
            </div>
        
        </section>