        <section class="section-offices" id="section-offices">
        <div class="row">
            <h2>Our Offices around the world</h2>
        </div>
        <div class="row">
            <div class="col span-1-of-4 office-city">
                <img src="resources/img/berlin.jpg" class="city-img">
                <h3>Berlin</h3>
                <div class="office-desc">
                <i class="ion-ios-person office-icons"></i>
                    200+ Employees
                </div>
            </div>            
            <div class="col span-1-of-4 office-city">
                <img src="resources/img/san-francisco.jpg " class="city-img">
                <h3>San Francisco</h3>
                <div class="office-desc">
                <i class="ion-ios-person office-icons"></i>
                    1200+ Employees
                </div>
            </div>            
            <div class="col span-1-of-4 office-city">
                <img src="resources/img/lisbon.jpg" class="city-img">
                <h3>Lisbon</h3>
                <div class="office-desc">
                <i class="ion-ios-person office-icons"></i>
                    400+ Employees
                </div>
            </div>            
            <div class="col span-1-of-4 office-city">
                <img src="resources/img/london.jpg" class="city-img">
                <h3>London</h3>
                <div class="office-desc">
                <i class="ion-ios-person office-icons"></i>
                    300+ Employees
                </div>
            </div>
        </div>        
        </section>